{% extends "layout.html" %}

{% block content %}

{{nav.active('about')}}

<main role="main">
    <section class="cmn-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 order-2 order-lg-1 banner-content-sec wow fadeInUp">
                    <div class="cmn-blue-bdr">
                        <span class="h6 d-block">ABOUT</span>
                        <h1 class="h2">Part legal practice. Part strategic guide. All GrowthStudio™.</h1>
                        <p>Work with an agile team of legal specialists devoted to supporting your vision.</p>
                    </div>
                </div>
                <div class="col-lg-5 order-1 order-lg-2">
                    <img class="shape-img"
                        src="img/graphic-bluebox.svg"
                        alt="">
                    <div class="right-img wow fadeInUp">
                        <svg width="350" height="321" baseProfile="full" version="1.2">
                            <defs>
                                <mask id="svgmask4" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse"
                                    transform="scale(1)">
                                    <image width="100%" height="321"
                                        xlink:href="img/image-guidance-hero_listing.png" />
                                </mask>
                            </defs>
                            <image id="the-mask4" mask="url(#svgmask4)" width="100%" height="321" y="0" x="0"
                                xlink:href="img/image-aboutmain.png"
                                alt="" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-sec">
        <div class="container">
            <div class="row about-sec-wrap wow fadeInUp">
                <div class="col-md-2 about-head order-2 order-md-1">
                    <h6>TEAM</h6>
                </div>
                <div class="col-md-6 col-xl-5 order-3 order-md-2">
                    <p>Today’s startups require more than vision—they needed a proven growth strategy. One that’s
                        powered by a diverse team of trusted advisors who are immersed in the ecosystem of emerging
                        companies and venture capital. In 2020, our team remained highly active despite difficult market
                        conditions precipitated by the economic impact of COVID-19. Not only did our team successfully
                        close 50+ venture financings on behalf of both emerging companies and investors, our average
                        transaction size was $15M. </p>
                    <p>Our team also represents venture capitalists in their portfolio investments, and throughout all
                        phases of the investment cycle. With over two decades representing both emerging companies and
                        venture investors – yielding deep experience from both sides of the deal – we can provide our
                        clients with unique insight into various issues that come to bear in financing transactions and
                        strategic growth. Consider GrowthStudio™ a one-stop-shop for all your legal needs, to help
                        secure essential financing, and to give you peace of mind with new and promising investments.
                    </p>
                    <a href="javascript:;" class="btn btn-primary">MEET THE TEAM</a>
                </div>
                <div class="col-md-4 ml-auto order-1 order-md-3">
                    <svg width="350" height="321" baseProfile="full" version="1.2">
                        <defs>
                            <mask id="svgmask3" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse"
                                transform="scale(1)">
                                <image width="100%" height="321"
                                    xlink:href="img/image-guidance-hero_listing.png" />
                            </mask>
                        </defs>
                        <image id="the-mask3" mask="url(#svgmask3)" width="100%" height="321" y="0" x="0"
                            xlink:href="img/image-team-about.png"
                            alt="" />
                    </svg>
                </div>
            </div>
            <div class="row about-sec-wrap wow fadeInUp">
                <div class="col-md-2 about-head order-2 order-md-1">
                    <h6>Mission</h6>
                </div>
                <div class="col-md-6 col-xl-5 order-3 order-md-2">
                    <p>GrowthStudio™ champions your business through smart, adaptive legal counseling. A support system
                        like this provides comfort to investors. </p>
                    <p>Working in tandem with your current operation, we provide you with the tools to secure the
                        capital, team, and resources you need to boost your business.</p>
                    <p>GrowthStudio™ meets your complex legal challenges with customized and sensible solutions to
                        navigate through formation, capital raising, regulatory compliance, and the evolving stages of
                        commercial growth— giving you back the gift of time, money, and peace of mind. </p>
                </div>
                <div class="col-md-4 ml-auto order-1 order-md-3">
                    <svg width="350" height="321" baseProfile="full" version="1.2">
                        <defs>
                            <mask id="svgmask3" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse"
                                transform="scale(1)">
                                <image width="100%" height="321"
                                    xlink:href="img/image-guidance-hero_listing.png" />
                            </mask>
                        </defs>
                        <image id="the-mask3" mask="url(#svgmask3)" width="100%" height="321" y="0" x="0"
                            xlink:href="img/image-mission.png"
                            alt="" />
                    </svg>
                </div>
            </div>
            <div class="row about-sec-wrap wow fadeInUp">
                <div class="col-md-2 about-head order-2 order-md-1">
                    <h6>HISTORY</h6>
                </div>
                <div class="col-md-6 col-xl-5 order-3 order-md-2">
                    <p>Our GrowthStudio™ lawyers have collectively represented hundreds of emerging companies, venture
                        funds, and corporate investors, throughout all investment cycles.</p>
                    <p>Our roots hail from founding leading technology companies to leading legal services firms. We
                        have been founders—so, we really get it. We live at the intersection of tech and culture—it’s a
                        vibe. We subscribe to disrupting our community forward and our efforts deserved uniformity.
                        Invisioning a practice designed to aid the rapid growth and agility of emerging companies, we
                        created GrowthStudio™.</p>
                </div>
                <div class="col-md-4 ml-auto order-1 order-md-3">
                    <svg width="350" height="321" baseProfile="full" version="1.2">
                        <defs>
                            <mask id="svgmask3" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse"
                                transform="scale(1)">
                                <image width="100%" height="321"
                                    xlink:href="img/image-guidance-hero_listing.png" />
                            </mask>
                        </defs>
                        <image id="the-mask3" mask="url(#svgmask3)" width="100%" height="321" y="0" x="0"
                            xlink:href="img/image-history.png"
                            alt="" />
                    </svg>
                </div>
            </div>
        </div>
    </section>
    <section class="cmn-cta">
        <div class="container">
            <div class="row align-items-center wow fadeInUp">
                <div class="gred-bg col-md-11"></div>
                <div class="col-md-6 cta-content">
                    <div class="cta-content-wrap text-16">
                        <h6>GET IN TOUCH</h6>
                        <h2>See what GrowthStudio™ can do for you.</h2>
                        <p>Experience a smart legal team that keeps pace with your vision and execution needs.
                            GrowthStudio offers
                            practical problem solving for founders.</p><a href="javascript:;"
                            class="btn btn-primary">Request a
                            meeting</a>
                    </div>
                </div>
                <div class="col-md-5 ml-auto cta-img">
                    <div class="right-img">
                        <svg width="445" height="399" baseProfile="full" version="1.2">
                            <defs>
                                <mask id="svgmask04" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse"
                                    transform="scale(1)">
                                    <image width="100%" height="399" xlink:href="img/Mask_footer.png" />
                                </mask>
                            </defs>
                            <image id="the-mask04" mask="url(#svgmask04)" width="100%" height="399" y="0" x="0"
                                xlink:href="img/image-CTA.png" alt="" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}