{% extends "layout.html" %}

{% block content %}

{{nav.active('Case Study')}}

<main role="main">
    <section class="cmn-banner case-study-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 order-2 order-lg-1 banner-content-sec wow fadeInUp">
                    <div class="cmn-blue-bdr">
                        <span class="h6 d-block">CASE STUDY</span>
                        <h1 class="mb-0">Appetize</h1>
                    </div>
                    <div class="banner-desc">
                        <div class="sub-details">
                            <span class="text-16 d-block"><strong>Company Industry:</strong>Cloud Point of Sale</span>
                            <span class="text-16 d-block"><strong>Financing:</strong> Series A - $150M</span>
                        </div>
                        <h3>"Quae fuerit causa, nollem me tamen laudandis maioribus meis corrupisti nec me tamen
                            laudandis maioribus meis corrupisti."</h3>
                        <p>At vero eos censes tantas res gessisse sine dubio praeclara sunt, fecerint, virtutem iis per
                            se oratio, tua praesertim, qui studiose antiqua persequeris, claris et rationibus
                            conquisitis de quo enim ipsam voluptatem, quia dolor sit, voluptatem appetere eaque ipsa.
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 order-1 order-lg-2">
                    <img class="shape-img"
                        src="img/graphic-bluebox.svg"
                        alt="">
                    <div class="right-img wow fadeInUp">
                        <svg width="350" height="321" baseProfile="full" version="1.2">
                            <defs>
                                <mask id="svgmask2" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse"
                                    transform="scale(1)">
                                    <image width="100%" height="321"
                                        xlink:href="img/image-guidance-hero_listing.png" />
                                </mask>
                            </defs>
                            <image id="the-mask" mask="url(#svgmask2)" width="100%" height="321" y="0" x="0"
                                xlink:href="img/image-casestudyhero.png" />
                        </svg>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="editor-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="editor-div wow fadeInUp">
                        <h5>Situation</h5>
                        <p>Quid ex eo est consecutus? laudem et quasi naturalem atque in malis dolor, non provident,
                            similique sunt in bonis sit sentiri haec subtilius velint tradere et rationibus confirmare,
                            tantum satis esse, ut de utilitatibus, nihil ut summum bonum esse.</p>
                        <p>Tum dicere exorsus est eligendi optio, cumque nihil ut alterum esse admonere interesse enim
                            maxime consuevit iactare vestra se esse expetendam et accurate disserendum et aperta
                            iudicari etenim quoniam detractis de homine sensibus reliqui nihil molestiae consequatur,
                            vel eum.</p>
                        <img src="img/editor-img.jpg"
                            width="635" height="377" alt="">
                        <h5>Solution</h5>
                        <p>Quid ex eo est consecutus? laudem et quasi naturalem atque in malis dolor, non provident,
                            similique sunt in bonis sit sentiri haec subtilius velint tradere et rationibus confirmare,
                            tantum satis esse, ut de utilitatibus, nihil ut summum bonum esse.</p>
                        <p>Tum dicere exorsus est eligendi optio, cumque nihil ut alterum esse admonere interesse enim
                            maxime consuevit iactare vestra se esse expetendam et accurate disserendum et aperta
                            iudicari etenim quoniam detractis de homine sensibus reliqui nihil molestiae consequatur,
                            vel eum.</p>
                        <h5>Results</h5>
                        <p>Quid ex eo est consecutus? laudem et quasi naturalem atque in malis dolor, non provident,
                            similique sunt in bonis sit sentiri haec subtilius velint tradere et rationibus confirmare,
                            tantum satis esse, ut de utilitatibus, nihil ut summum bonum esse.</p>
                        <p>Tum dicere exorsus est eligendi optio, cumque nihil ut alterum esse admonere interesse enim
                            maxime consuevit iactare vestra se esse expetendam et accurate disserendum et aperta
                            iudicari etenim quoniam detractis de homine sensibus reliqui nihil molestiae consequatur,
                            vel eum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}