{% extends "layout.html" %}

{% block content %}

{{nav.active('insight')}}

<main role="main">

    <section class="event-detail-page">
        <div class="container">
            <div class="row row wow fadeInUp">
                <div class="col-12 mb-30">
                    <a href="javascript:;" class="btn btn-link"><span>BACK</span></a>
                </div>
                <div class="col-lg-4 d-md-flex flex-wrap d-lg-block order-3 order-lg-1">
                    <div class="box-wrap text-center">
                        <a class="btn btn-primary" href="javascript:;"><img class="svg" src="img/icon-external.svg"
                                width="15.5" height="15.5">REGISTER NOW</a>
                    </div>
                </div>
                <div class="col-lg-8 order-1 order-lg-1">
                    <div class="box-wrap icon-wrap date-time">
                        <ul class="list-unstyled m-0 d-flex flex-wrap align-items-center flex-wrap">
                            <li>
                                <img src="img/icon-date.svg" F alt="Calender icon" class="img-fluid" width="24"
                                    height="24">
                                <h5>Date</h5>
                                <span class="text-16 d-block m-0">March 10, 2021 </span>
                            </li>
                            <li>
                                <img src="img/icon-time.svg" alt="Timer icon" class="img-fluid" width="24" height="24">
                                <h5>Time</h5>
                                <span class="text-16 d-block m-0">9:30 - 11:00 pm EST</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="speaker-wrap" class="col-lg-4 order-4 d-md-flex flex-wrap d-lg-block order-lg-1">
                    <div class="box-wrap icon-wrap location-wrap">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <img src="img/icon-mapsmall.svg" alt="Clocation icon" class="img-fluid" width="24"
                                    height="24">
                                <h5>Location</h5>
                                <span class="text-16 d-block">Zoom</span>
                            </li>
                        </ul>
                    </div>
                    <div class="box-wrap speakers-wrap">
                        <h5 class="text-center">Speakers</h5>
                        <ul class="list-unstyled m-0">
                            <li>
                                <div class="speaker-img">
                                    <img src="img/image-speaker1.jpg" alt="Speakers image" class="img-fluid" width="66"
                                        height="66">
                                </div>
                                <div class="speaker-detail">
                                    <h5>Philip DeAngelo</h5>
                                    <span class="text-14 d-block">Director of Studies </br>Lorem ipsum dolar </span>
                                </div>
                            </li>
                            <li>
                                <div class="speaker-img">
                                    <img src="img/image-speaker2.png" alt="Speakers image" class="img-fluid" width="66"
                                        height="66">
                                </div>
                                <div class="speaker-detail">
                                    <h5>Doris Taylor</h5>
                                    <span class="text-14 d-block">Director of Studies </br>Lorem ipsum dolar </span>
                                </div>
                            </li>
                            <li>
                                <div class="speaker-img">
                                    <img src="img/image-speaker3.jpg" alt="Speakers image" class="img-fluid" width="66"
                                        height="66">
                                </div>
                                <div class="speaker-detail">
                                    <h5>Angela Smith</h5>
                                    <span class="text-14 d-block">Director of Studies </br>Lorem ipsum dolar </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 order-2 order-lg-1">
                    <div class="cmn-editor">
                        <h2>Ut placet, inquam tum dicere exorsus est eligendi optio, cumque nihil impedit, quo.</h2>
                        <p>Hanc ego assentior, cum memoriter, tum etiam erga nos causae confidere, sed uti oratione
                            perpetua
                            malo quam nihil ut ad naturam aut dolores suscipiantur maiorum voluptatum deleniti atque
                            insitam in
                            gravissimo bello animadversionis metu degendae praesidia firmissima filium morte. Sed ut
                            ratione
                            voluptatem ut ad id est consecutus? laudem et dolorem? sunt autem quibusdam et caritatem,
                            quae sine
                            dubio praeclara sunt, explicabo nemo enim maxime placeat, facere possimus, omnis iste natus
                            error
                            sit sentiri haec ratio late patet.</p>

                        <p>In oculis quidem faciunt, ut ipsi auctori huius disciplinae placet: constituam, quid percipit
                            aut in
                            gravissimo bello animadversionis metu contineret, saluti prospexit civium, qua intellegebat
                            contineri suam atque corrupti, quos tu tam crudelis fuisse, nihil ut summo bono, dolorem.
                        </p>

                        <p> Hanc ego assentior, cum memoriter, tum etiam erga nos causae confidere, sed uti oratione
                            perpetua
                            malo quam nihil ut ad naturam aut dolores suscipiantur maiorum voluptatum deleniti atque
                            insitam in
                            gravissimo bello animadversionis metu.</p>
                    </div>
                   
                </div>
            </div>
        </div>

    </section>

    <section class="cmn-cta">
        <div class="container">
            <div class="row align-items-center wow fadeInUp">
                <div class="gred-bg col-md-11"></div>
                <div class="col-md-6 cta-content">
                    <div class="cta-content-wrap text-16">
                        <h6>GET IN TOUCH</h6>
                        <h2>See what GrowthStudio™ can do for you.</h2>
                        <p>Experience a smart legal team that keeps pace with your vision and execution needs.
                            GrowthStudio offers
                            practical problem solving for founders.</p><a href="javascript:;"
                            class="btn btn-primary">Request a
                            meeting</a>
                    </div>
                </div>
                <div class="col-md-5 ml-auto cta-img">
                    <div class="right-img">
                        <svg width="445" height="399" baseProfile="full" version="1.2">
                            <defs>
                                <mask id="svgmask04" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse"
                                    transform="scale(1)">
                                    <image width="100%" height="399" xlink:href="img/Mask_footer.png" />
                                </mask>
                            </defs>
                            <image id="the-mask04" mask="url(#svgmask04)" width="100%" height="399" y="0" x="0"
                                xlink:href="img/image-CTA.png" alt="" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}