{% extends "layout.html" %}

{% block content %}

{{nav.active('guidance')}}

<main role="main">
  <section class="cmn-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 order-2 order-lg-1 banner-content-sec wow fadeInUp">
          <div class="cmn-blue-bdr">
            <span class="h6 d-block">GUIDANCE</span>
            <h2 class="mb-0">Smart legal resources that scale as fast as your business.</h2>
            <div class="banner-desc">
              <p>From market entry to market dominance we support the growth you need to fulfill your vision.<br />
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2">
          <img class="shape-img" src="img/graphic-bluebox.svg" alt="">
          <div class="right-img wow fadeInUp">
            <svg width="350" height="321" baseProfile="full" version="1.2">
              <defs>
                <mask id="svgmask2" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse" transform="scale(1)">
                  <image width="100%" height="321" xlink:href="img/image-guidance-hero_listing.png" />
                </mask>
              </defs>
              <image id="the-mask" mask="url(#svgmask2)" width="100%" height="321" y="0" x="0"
                xlink:href="img/image-guidance.png" alt="" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="cmn-listing">
    <div class="container">
      <div class="row wow fadeInUp">
        <div class="col-md-6 col-lg-4">
          <div class="listing-blocks">
            <div class="listing-image-box">
              <img style="background-image: url('img/image-stage2.jpg');" src="img/0.gif" alt="" class="divImg" />
            </div>
            <div class="listing-box-data text-16">
              <a class="stretched-link" href="javascript:;">
                <span class="btn btn-link big-link h3">
                  <span>Raise &#038; Fund</span>
                </span>
              </a>
              <p>Executing on your business plan and product vision sometimes means you need to raise outside capital.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="listing-blocks">
            <div class="listing-image-box">
              <img style="background-image: url('img/image-stage3.jpg');" src="img/0.gif" alt="" class="divImg" />
            </div>
            <div class="listing-box-data text-16">
              <a class="stretched-link" href="javascript:;">
                <span class="btn btn-link big-link h3">
                  <span>Create &#038; Protect IP</span>
                </span>
              </a>
              <p>Your IP and trade secrets are valuable, savvy investors shield both from theft and imitation.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="listing-blocks">
            <div class="listing-image-box">
              <img style="background-image: url('img/image-stage4.jpg');" src="img/0.gif" alt="" class="divImg" />
            </div>
            <div class="listing-box-data text-16">
              <a class="stretched-link" href="javascript:;">
                <span class="btn btn-link big-link h3">
                  <span>Hire A Team</span>
                </span>
              </a>
              <p>A business is only as great as the team it attracts and nurtures to carry out its mission.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="listing-blocks">
            <div class="listing-image-box">
              <img style="background-image: url('img/image-stage5.jpg');" src="img/0.gif" alt="" class="divImg" />
            </div>
            <div class="listing-box-data text-16">
              <a class="stretched-link" href="javascript:;">
                <span class="btn btn-link big-link h3">
                  <span>Expand Operations</span>
                </span>
              </a>
              <p>As your company matures, executing with a broader geographical footprint is crucial to success.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="listing-blocks">
            <div class="listing-image-box">
              <img style="background-image: url('img/image-stage6.jpg');" src="img/0.gif" alt="" class="divImg" />
            </div>
            <div class="listing-box-data text-16">
              <a class="stretched-link" href="javascript:;">
                <span class="btn btn-link big-link h3">
                  <span>Board &#038; Advisory</span>
                </span>
              </a>
              <p>From pointing out your blind spots to keeping you focused, an advisory board has many pros.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="listing-blocks">
            <div class="listing-image-box">
              <img style="background-image: url('img/image-stage7.jpg');" src="img/0.gif" alt="" class="divImg" />
            </div>
            <div class="listing-box-data text-16">
              <a class="stretched-link" href="javascript:;">
                <span class="btn btn-link big-link h3">
                  <span>Secure &#038; Protect Data</span>
                </span>
              </a>
              <p>In a data-driven economy, privacy and data protection can make—or break your bottom line.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="listing-blocks">
            <div class="listing-image-box">
              <img style="background-image: url('img/image-stage8.jpg');" src="img/0.gif" alt="" class="divImg" />
            </div>
            <div class="listing-box-data text-16">
              <a class="stretched-link" href="javascript:;">
                <span class="btn btn-link big-link h3">
                  <span>Exit</span>
                </span>
              </a>
              <p>A sale or an initial public offering are typically pivotal moments of success for a startup, proceeded
                by crucial planning.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="listing-blocks">
            <div class="listing-image-box">
              <img style="background-image: url('img/image-stage1.jpg');" src="img/0.gif" alt="" class="divImg" />
            </div>
            <div class="listing-box-data text-16">
              <a class="stretched-link" href="javascript:;">
                <span class="btn btn-link big-link h3">
                  <span>Start &#038; Form</span>
                </span>
              </a>
              <p>As your vision becomes a reality certain essential are in order.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="cmn-cta">
    <div class="container">
      <div class="row align-items-center wow fadeInUp">
        <div class="gred-bg col-md-11"></div>
        <div class="col-md-6 cta-content">
          <div class="cta-content-wrap text-16">
            <h6>GET IN TOUCH</h6>
            <h2>See what GrowthStudio™ can do for you.</h2>
            <p>Experience a smart legal team that keeps pace with your vision and execution needs. GrowthStudio offers
              practical problem solving for founders.</p><a href="javascript:;" class="btn btn-primary">Request a
              meeting</a>
          </div>
        </div>
        <div class="col-md-5 ml-auto cta-img">
          <div class="right-img">
            <svg width="445" height="399" baseProfile="full" version="1.2">
              <defs>
                <mask id="svgmask04" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse" transform="scale(1)">
                  <image width="100%" height="399" xlink:href="img/Mask_footer.png" />
                </mask>
              </defs>
              <image id="the-mask04" mask="url(#svgmask04)" width="100%" height="399" y="0" x="0"
                xlink:href="img/image-CTA.png" alt="" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}