{% extends "layout.html" %}

{% block content %}

{{nav.active('guidance')}}

<main role="main">
    <section class="cmn-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 order-2 order-lg-1 banner-content-sec wow fadeInUp">
                    <div class="cmn-blue-bdr">
                        <span class="h6 d-block">GUIDANCE</span>
                        <h1 class="mb-0">Create &#038; Protect IP</h1>
                    </div>
                    <div class="banner-desc">
                        <h3>Quae fuerit causa, nollem me tamen laudandis maioribus meis corrupisti nec me tamen
                            laudandis maioribus meis corrupisti.</h3>
                        <p>Connecting the dots between where you are, and where you want to be, and then doing the work
                            to get you there.</p>
                    </div>
                </div>
                <div class="col-lg-5 order-1 order-lg-2">
                    <img class="shape-img"
                        src="img/graphic-bluebox.svg"
                        alt="">
                    <div class="right-img wow fadeInUp">
                        <svg width="350" height="321" baseProfile="full" version="1.2">
                            <defs>
                                <mask id="svgmask2" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse"
                                    transform="scale(1)">
                                    <image width="100%" height="321"
                                        xlink:href="img/image-guidance-hero_listing.png" />
                                </mask>
                            </defs>
                            <image id="the-mask" mask="url(#svgmask2)" width="100%" height="321" y="0" x="0"
                                xlink:href="img/image-stage3.jpg"
                                alt="" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="guide-goal-sec">
        <div class="container">
            <div class="row wow fadeInUp">
                <div class="col-md-4 col-xl-3 ">
                    <div class="text-16 guide-list-wrap">
                        <img class="img-fluid"
                            src="img/icon-1.svg" width="64"
                            height="64" alt="">
                        <p>Probabo, inquit, sic agam, ut summum bonum esse fugiendum itaque negat opus esse. At vero eos
                            et dolore disputandum putant sed ut calere ignem, nivem esse.</p>
                    </div>
                </div>
                <div class="col-md-4 col-xl-3 offset-xl-1">
                    <div class="text-16 guide-list-wrap">
                        <img class="img-fluid" src="img/icon-2.svg"
                            width="64" height="64" alt="">
                        <p>Sed ut aut in bonis sit id, de voluptate velit esse, quid malum. Torquem detraxit hosti et
                            quidem rerum necessitatibus saepe eveniet, ut perspiciatis, unde omnis.</p>
                    </div>
                </div>
                <div class="col-md-4 col-xl-3 offset-xl-1">
                    <div class="text-16 guide-list-wrap">
                        <img class="img-fluid" src="img/icn-3.svg"
                            width="64" height="64" alt="">
                        <p>Sunt autem vel illum, qui blanditiis praesentium voluptatum deleniti atque natum sit,
                            aspernatur. Quae fuerit causa, nollem me ab eo est primum igitur, inquit, sic agam.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="guide-detail">
        <div class="container">
            <div class="up-bdr">
                <div class="row wow fadeInUp">
                    <div class="col-lg-10 col-xl-7">
                        <h2>Si sine causa mox videro</h2>
                        <p>Probabo, inquit, modo dixi, constituto, ut et dolore magnam aliquam quaerat voluptatem sequi
                            nesciunt, neque porro quisquam est, omnis dolor sit, voluptatem ut dolore magnam aliquam
                            causam non recusandae itaque negat opus esse ratione voluptatem ipsam per se ipsam.</p>
                        <h5>Si sine causa mox videro</h5>
                        <p>Quid ex eo est consecutus? laudem et quasi naturalem atque in malis dolor, non provident,
                            similique sunt in bonis sit sentiri haec subtilius velint tradere et rationibus confirmare,
                            tantum satis esse, ut de utilitatibus, nihil ut summum bonum esse.</p>
                        <p>Tum dicere exorsus est eligendi optio, cumque nihil ut alterum esse admonere interesse enim
                            maxime consuevit iactare vestra se esse expetendam et accurate disserendum et aperta
                            iudicari etenim quoniam detractis de homine sensibus reliqui nihil molestiae consequatur,
                            vel eum.</p>
                        <ul>
                            <li>Alii autem quibus ego</li>
                            <li>Epicurus in ea commodi consequatur</li>
                            <li>Quae fuerit causa, nollem me ab illo inventore veritatis et dolorum</li>
                            <li>Et quidem se esse fugiendum</li>
                        </ul>
                        <p><img loading="lazy"
                                src="img/image-mainarticle.jpg"
                                alt="" width="635" height="421"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cmn-cta">
        <div class="container">
            <div class="row align-items-center wow fadeInUp">
                <div class="gred-bg col-md-11"></div>
                <div class="col-md-6 cta-content">
                    <div class="cta-content-wrap text-16">
                        <h6>GET IN TOUCH</h6>
                        <h2>See what GrowthStudio™ can do for you.</h2>
                        <p>Experience a smart legal team that keeps pace with your vision and execution needs.
                            GrowthStudio offers
                            practical problem solving for founders.</p><a href="javascript:;"
                            class="btn btn-primary">Request a
                            meeting</a>
                    </div>
                </div>
                <div class="col-md-5 ml-auto cta-img">
                    <div class="right-img">
                        <svg width="445" height="399" baseProfile="full" version="1.2">
                            <defs>
                                <mask id="svgmask04" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse"
                                    transform="scale(1)">
                                    <image width="100%" height="399" xlink:href="img/Mask_footer.png" />
                                </mask>
                            </defs>
                            <image id="the-mask04" mask="url(#svgmask04)" width="100%" height="399" y="0" x="0"
                                xlink:href="img/image-CTA.png" alt="" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}