{% extends "layout.html" %}

{% block content %}

<!-- Header section starts from here -->
{{nav.active('home')}}

<main role="main">
  <section class="cmn-banner hp-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 order-2 order-lg-1 banner-content-sec wow fadeInUp">
          <h1><span class="btm-bdr">Advance</span> your business through smart, collaborative legal counseling</h1>
          <p>Our deep understanding of the venture capital ecosystem drives practical solutions for founders.</p><a
            href="javascript:;" class="btn btn-link big-link">Let’s Grow</a>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 ml-auto wow fadeInUp">
          <div class="shape-img">
            <svg width="720" height="630" baseProfile="full" version="1.2">
              <defs>
                <mask id="svgmask2" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse" transform="scale(1)">
                  <image width="100%" height="630" xlink:href="img/Mask_homepage_background_shape.png" />
                </mask>
              </defs>
              <image id="the-mask2" mask="url(#svgmask2)" width="100%" height="630" y="0" x="0"
                xlink:href="img/image-hero.jpg" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cmn-event-list">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <a href="javascript:;" class="event-item">
            <span class="h6 d-block">EVENT</span>
            <span class="btn btn-link h3 big-link"><span>Sunt autem quidam nostris qui in ea quid malum
                sensu</span></span>
            <span class="text-14 d-block">
              <span>February 28, 2021</span><span>10:00am PST</span>
            </span>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="javascript:;" class="event-item">
            <span class="h6 d-block">Announcement</span>
            <span class="btn btn-link h3 big-link"><span>Torquem detraxit hosti et quidem</span></span>
            <span class="text-14 d-block">
              <span>February 28, 2021</span>
            </span>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="javascript:;" class="event-item">
            <span class="h6 d-block">ANNOUNCEMENT</span>
            <span class="btn btn-link h3 big-link"><span>Sed ut calere ignem, nivem esse fugiendum itaque negat opus
                esse</span></span>
            <span class="text-14 d-block">
              <span>February 28, 2021</span>
            </span>
          </a>
        </div>
      </div>
      <div class="row pt-lg-3">
        <div class="col-12">
          <a href="javascript:;" class="btn btn-link">View all news</a>
        </div>
      </div>
    </div>
  </section>

  <section class="cmn-slider cmn-listing">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-7">
          <div class="cmn-blue-bdr">
            <h6>Guidance</h6>
            <h2>Journey into your next business phase with clarity & confidence.</h2>
            <p>Access custom legal resources to assist you in any stage</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="cmn-slider-wrap">
            <div class="slide-box">
              <div class="listing-blocks">
                <div class="listing-image-box">
                  <img style="background-image: url('img/image-stage2.jpg');" src="img/0.gif" alt="" class="divImg">
                </div>
                <div class="listing-box-data text-16">
                  <a class="stretched-link" href="javascript:;">
                    <span class="btn btn-link big-link h3">
                      <span>Raise &#038; Fund</span>
                    </span>
                  </a>
                  <p>Executing on your business plan and product vision sometimes means you need to raise outside
                    capital.</p>
                </div>
              </div>
            </div>
            <div class="slide-box">
              <div class="listing-blocks">
                <div class="listing-image-box">
                  <img style="background-image: url('img/image-stage3.jpg');" src="img/0.gif" alt="" class="divImg">
                </div>
                <div class="listing-box-data text-16">
                  <a class="stretched-link" href="javascript:;">
                    <span class="btn btn-link big-link h3">
                      <span>Create &#038; Protect IP</span>
                    </span>
                  </a>
                  <p>Your IP and trade secrets are valuable, savvy investors shield both from theft and imitation.</p>
                </div>
              </div>
            </div>
            <div class="slide-box">
              <div class="listing-blocks">
                <div class="listing-image-box">
                  <img style="background-image: url('img/image-stage4.jpg');" src="img/0.gif" alt="" class="divImg">
                </div>
                <div class="listing-box-data text-16">
                  <a class="stretched-link" href="javascript:;">
                    <span class="btn btn-link big-link h3">
                      <span>Hire A Team</span>
                    </span>
                  </a>
                  <p>A business is only as great as the team it attracts and nurtures to carry out its mission.</p>
                </div>
              </div>
            </div>
            <div class="slide-box">
              <div class="listing-blocks">
                <div class="listing-image-box">
                  <img style="background-image: url('img/image-stage5.jpg');" src="img/0.gif" alt="" class="divImg">
                </div>
                <div class="listing-box-data text-16">
                  <a class="stretched-link" href="javascript:;">
                    <span class="btn btn-link big-link h3">
                      <span>Expand Operations</span>
                    </span>
                  </a>
                  <p>As your company matures, executing with a broader geographical footprint is crucial to success.</p>
                </div>
              </div>
            </div>
            <div class="slide-box">
              <div class="listing-blocks">
                <div class="listing-image-box">
                  <img style="background-image: url('img/image-stage6.jpg');" src="img/0.gif" alt="" class="divImg">
                </div>
                <div class="listing-box-data text-16">
                  <a class="stretched-link" href="javascript:;">
                    <span class="btn btn-link big-link h3">
                      <span>Board &#038; Advisory</span>
                    </span>
                  </a>
                  <p>From pointing out your blind spots to keeping you focused, an advisory board has many pros.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="hp-about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 about-img-wrap wow fadeInUp">
          <div class="abt-back-img">
            <svg width="475" height="593" baseProfile="full" version="1.2">
              <defs>
                <mask id="svgmask3" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse" transform="scale(1)">
                  <image width="100%" height="593" xlink:href="img/Mask_homepage_proving_landscape.png" />
                </mask>
              </defs>
              <image id="the-mask3" mask="url(#svgmask3)" width="100%" height="593" y="0" x="0"
                xlink:href="img/image-about-bottom.png" />
            </svg>
          </div>
          <div class="abt-front-img">
            <svg width="350" height="399" baseProfile="full" version="1.2">
              <defs>
                <mask id="svgmask4" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse" transform="scale(1)">
                  <image width="100%" height="399" xlink:href="img/Mask.png" />
                </mask>
              </defs>
              <image id="the-mask4" mask="url(#svgmask4)" width="100%" height="399" y="0" x="0"
                xlink:href="img/image-about-top.png" />
            </svg>
          </div>
        </div>
        <div class="col-md-6 col-xl-5 ml-auto wow fadeInUp">
          <div class="cmn-blue-bdr">
            <h6>ABOUT US</h6>
            <h2>Providing savvy solutions for innovators.</h2>
          </div>
          <p>We are GrowthStudio™— a diverse group of seasoned advisors focused on elevating your business. Equal parts
            legal practice and strategic guide, we prepare your startup to secure the capital, team, and resources it
            needs to grow.</p>
            <a href="javascript:;" class="btn btn-link">TELL ME MORE</a>
        </div>
      </div>
    </div>
  </section>

  <section class="cmn-cta">
    <div class="container">
      <div class="row align-items-center wow fadeInUp">
        <div class="gred-bg col-md-11"></div>
        <div class="col-md-6 cta-content">
          <div class="cta-content-wrap text-16">
            <h6>GET IN TOUCH</h6>
            <h2>See what GrowthStudio™ can do for you.</h2>
            <p>Experience a smart legal team that keeps pace with your vision and execution needs. GrowthStudio offers
              practical problem solving for founders.</p>
            <a href="javascript:;" class="btn btn-primary">Request a
              meeting</a>
          </div>
        </div>
        <div class="col-md-5 ml-auto cta-img">
          <div class="right-img">
            <svg width="445" height="399" baseProfile="full" version="1.2">
              <defs>
                <mask id="svgmask04" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse" transform="scale(1)">
                  <image width="100%" height="399" xlink:href="img/Mask_footer.png" />
                </mask>
              </defs>
              <image id="the-mask04" mask="url(#svgmask04)" width="100%" height="399" y="0" x="0"
                xlink:href="img/image-CTA.png" alt="" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
{% block script %}
<script>
  $(document).ready(function () {
    $('.cmn-slider-wrap').slick({
      dots: false,
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      variableWidth: true,
      responsive: [{
        breakpoint: 991,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1,
        }
      },
      {
        breakpoint: 767,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          variableWidth: false,
        }
      }
      ]
    });
  });
</script>
{% endblock %}