{% extends "layout.html" %}

{% block content %}

{{nav.active('insight')}}

<main role="main">
    <section class="cmn-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 order-2 order-lg-1 banner-content-sec wow fadeInUp">
                    <div class="cmn-blue-bdr">
                        <span class="h6 d-block">INSIGHTS & NEWS</span>
                        <h1 class="h2">Boost your know-how with keen insights straight from the source.</h1>
                        <p>GrowthStudio™ empowers you with tools like these so that you can focus on execution.</p>
                    </div>
                </div>
                <div class="col-lg-5 order-1 order-lg-2">
                    <img class="shape-img"
                        src="img/graphic-bluebox.svg"
                        alt="">
                    <div class="right-img wow fadeInUp">
                        <svg width="350" height="321" baseProfile="full" version="1.2">
                            <defs>
                                <mask id="svgmask4" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse"
                                    transform="scale(1)">
                                    <image width="100%" height="321"
                                        xlink:href="img/image-guidance-hero_listing.png" />
                                </mask>
                            </defs>
                            <image id="the-mask4" mask="url(#svgmask4)" width="100%" height="321" y="0" x="0"
                                xlink:href="img/image-insightshero.png" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cmn-tab insights-research-tab wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul id="tabs" class="nav nav-tabs list-unstyled" role="tablist">
                        <li data-id="#insights-slide1" class="nav-item">
                            <a id="insights-tab-A" href="#insights-pane-A" class="nav-link active h5" data-toggle="tab"
                                role="tab"><span>Insights</span></a>
                        </li>
                        <li data-id="#announcements-slide2" class="nav-item">
                            <a id="announcements-tab-B" href="#announcements-pane-B" class="nav-link h5"
                                data-toggle="tab" role="tab"><span>Announcements</span></a>
                        </li>
                        <li data-id="#announcements-slide3" class="nav-item">
                            <a id="announcements-tab-C" href="#announcements-pane-C" class="nav-link h5"
                                data-toggle="tab" role="tab"><span>Events</span></a>
                        </li>
                        <li data-id="#offers-slide2" class="nav-item">
                            <a id="offers-tab-D" href="#offers-pane-D" class="nav-link  h5" data-toggle="tab"
                                role="tab"><span>Offers</span></a>
                        </li>
                    </ul>
                    <div id="content" class="tab-content" role="tablist">
                        <div id="insights-pane-A" class="card tab-pane fade show active" role="tabpanel"
                            aria-labelledby="approach-tab-A">
                            <div class="card-header" role="tab" id="insights-heading-A">
                                <a class="h6" data-toggle="collapse" href="#insights-collapse-A" aria-expanded="true"
                                    aria-controls="insights-collapse-A">Insights</a>
                            </div>
                            <div id="insights-collapse-A" class="collapse show" data-parent="#content" role="tabpanel"
                                aria-labelledby="insights-heading-A">
                                <div class="card-body pt-4 pt-lg-0">
                                    <div class="tabbing-data">
                                        <div class="tab-filter-wrap">
                                          <form name="filterForm" method="GET">
                                            <div class="cmn-select"><select id="stage" name="stage">
                                                <option></option>
                                                <option>All</option>
                                                <option>Stage1</option>
                                                <option>Stage2</option>
                                                <option>Stage3</option>
                                              </select></div>
                                            <div class="cmn-select"><select id="topic" name="topic">
                                                <option></option>
                                                <option>All</option>
                                                <option>Topic1</option>
                                                <option>Topic2</option>
                                                <option>Topic3</option>
                                              </select></div>
                                          </form>
                                        </div>
                                        <div class="cmn-data-wrapper">
                                          <div class="cmn-docs-loop">
                                            <div class="media">
                                              <div class="asset-wrapper external-icon"> <a href="#" class="stretched-link">
                                                  <img class="icon-img" src="img/doc.png" width="25" height="25" alt="">
                                                </a>
                                              </div>
                                              <div class="media-body">
                                                <a href="#" class="btn btn-link h3 big-link">
                                                  <span>Sunt autem quidam nostris qui in ea quid malumfdsfs</span>
                                                </a>
                                                <div class="cmn-post-details text-14">
                                                  <span>April 20, 2021</span>
                                                  <span>Reed Hastings</span>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="cmn-docs-loop">
                                            <div class="media">
                                              <div class="asset-wrapper news-thumb"> <a href="#" class="stretched-link">
                                                  <span>
                                                    <img class="divImg icon-img" src="img/0.gif"
                                                      style="background-image: url('img/image-newsthumbnail-1.jpg')" width="160"
                                                      height="139" alt="">
                                                  </span>
                                                </a>
                                              </div>
                                              <div class="media-body">
                                                <a href="#" class="btn btn-link h3 big-link">
                                                  <span>Sunt autem quidam nostris qui in ea quid malumfdsfs</span>
                                                </a>
                                                <div class="cmn-post-details text-14">
                                                  <span>April 20, 2021</span>
                                                  <span>Reed Hastings</span>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="cmn-docs-loop">
                                            <div class="media">
                                              <div class="asset-wrapper external-icon"> <a href="#" class="stretched-link">
                                                  <img class="icon-img" src="img/doc.png" width="25" height="25" alt="">
                                                </a>
                                              </div>
                                              <div class="media-body">
                                                <a href="#" class="btn btn-link h3 big-link">
                                                  <span>Sunt autem quidam nostris qui in ea quid malumfdsfs</span>
                                                </a>
                                                <div class="cmn-post-details text-14">
                                                  <span>April 20, 2021</span>
                                                  <span>Reed Hastings</span>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="cmn-docs-loop">
                                            <div class="media">
                                              <div class="asset-wrapper news-thumb"> <a href="#" class="stretched-link">
                                                  <span>
                                                    <img class="divImg icon-img" src="img/0.gif"
                                                      style="background-image: url('img/image-newsthumbnail-1.jpg')" width="160"
                                                      height="139" alt="">
                                                  </span>
                                                </a>
                                              </div>
                                              <div class="media-body">
                                                <a href="#" class="btn btn-link h3 big-link">
                                                  <span>Sunt autem quidam nostris qui in ea quid malumfdsfs</span>
                                                </a>
                                                <div class="cmn-post-details text-14">
                                                  <span>April 20, 2021</span>
                                                  <span>Reed Hastings</span>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="cmn-docs-loop">
                                            <div class="media">
                                              <div class="asset-wrapper external-icon"> <a href="#" class="stretched-link">
                                                  <img class="icon-img" src="img/doc.png" width="25" height="25" alt="">
                                                </a>
                                              </div>
                                              <div class="media-body">
                                                <a href="#" class="btn btn-link h3 big-link">
                                                  <span>Sunt autem quidam nostris qui in ea quid malumfdsfs</span>
                                                </a>
                                                <div class="cmn-post-details text-14">
                                                  <span>April 20, 2021</span>
                                                  <span>Reed Hastings</span>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="cmn-docs-loop">
                                            <div class="media">
                                              <div class="asset-wrapper news-thumb"> <a href="#" class="stretched-link">
                                                  <span>
                                                    <img class="divImg icon-img" src="img/0.gif"
                                                      style="background-image: url('img/image-newsthumbnail-1.jpg')" width="160"
                                                      height="139" alt="">
                                                  </span>
                                                </a>
                                              </div>
                                              <div class="media-body">
                                                <a href="#" class="btn btn-link h3 big-link">
                                                  <span>Sunt autem quidam nostris qui in ea quid malumfdsfs</span>
                                                </a>
                                                <div class="cmn-post-details text-14">
                                                  <span>April 20, 2021</span>
                                                  <span>Reed Hastings</span>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="cmn-docs-loop">
                                            <div class="media">
                                              <div class="asset-wrapper news-thumb"> <a href="#" class="stretched-link">
                                                  <span>
                                                    <img class="divImg icon-img" src="img/0.gif"
                                                      style="background-image: url('img/image-newsthumbnail.jpg')" width="160" height="139"
                                                      alt="">
                                                  </span>
                                                </a>
                                              </div>
                                              <div class="media-body">
                                                <a href="#" class="btn btn-link h3 big-link">
                                                  <span>Sed ut calere ignem, nivem esse fugiendum itaque negat opus esse</span>
                                                </a>
                                                <div class="cmn-post-details text-14">
                                                  <span>April 20, 2021</span>
                                                  <span>Reed Hastings</span>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="cmn-docs-loop">
                                            <div class="media">
                                              <div class="asset-wrapper news-thumb"> <a href="#" class="stretched-link">
                                                  <span>
                                                    <img class="divImg icon-img" src="img/0.gif"
                                                      style="background-image: url('img/image-newsthumbnail.jpg')" width="160" height="139"
                                                      alt="">
                                                  </span>
                                                </a>
                                              </div>
                                              <div class="media-body">
                                                <a href="#" class="btn btn-link h3 big-link">
                                                  <span>Sed ut calere ignem, nivem esse fugiendum itaque negat opus esse</span>
                                                </a>
                                                <div class="cmn-post-details text-14">
                                                  <span>April 20, 2021</span>
                                                  <span>Reed Hastings</span>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="cmn-docs-loop">
                                            <div class="media">
                                              <div class="asset-wrapper news-thumb"> <a href="#" class="stretched-link">
                                                  <span>
                                                    <img class="divImg icon-img" src="img/0.gif"
                                                      style="background-image: url('img/image-newsthumbnail.jpg')" width="160" height="139"
                                                      alt="">
                                                  </span>
                                                </a>
                                              </div>
                                              <div class="media-body">
                                                <a href="#" class="btn btn-link h3 big-link">
                                                  <span>Sed ut calere ignem, nivem esse fugiendum itaque negat opus esse</span>
                                                </a>
                                                <div class="cmn-post-details text-14">
                                                  <span>April 20, 2021</span>
                                                  <span>Reed Hastings</span>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="cmn-docs-loop">
                                            <div class="media">
                                              <div class="asset-wrapper external-icon"> <a href="img/dummy.pdf" class="stretched-link">
                                                  <img class="icon-img" src="img/doc.png" width="25" height="25" alt="">
                                                </a>
                                              </div>
                                              <div class="media-body">
                                                <a href="img/dummy.pdf" class="btn btn-link h3 big-link">
                                                  <span>ed ut calere ignem, nivem esse fugiendum itaque negat opus esse</span>
                                                </a>
                                                <div class="cmn-post-details text-14">
                                                  <span>April 20, 2021</span>
                                                  <span>Reed Hastings</span>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="pagination justify-content-start pt-0 pt-lg-4 pb-3 pb-lg-4">
                                          <nav class="navigation pagination" role="navigation" aria-label="Posts">
                                            <div class="nav-links"><span aria-current="page" class="page-numbers current">1</span>
                                              <a class="page-numbers" href="javascript:;">2</a>
                                              <a class="next page-numbers" href="javascript:;">></a>
                                            </div>
                                          </nav>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div id="announcements-pane-B" class="card tab-pane fade " role="tabpanel"
                            aria-labelledby="announcements-tab-B">
                            <div class="card-header" role="tab" id="announcements-heading-B">
                                <a class="h6" data-toggle="collapse" href="#announcements-collapse-B" aria-expanded=""
                                    aria-controls="announcements-collapse-B">Announcements</a>
                            </div>
                            <div id="announcements-collapse-B" class="collapse" data-parent="#content" role="tabpanel"
                                aria-labelledby="announcements-heading-B">
                                <div class="card-body pt-4 pt-lg-0">
                                    <ul class="mb-0 pb-0 list-unstyled d-flex flex-wrap">
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">ANNOUCEMENT</span>
                                                <span class="btn btn-link h3 big-link"><span>Sunt autem
                                                        quidam nostris qui in ea quid malum sensu</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>

                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">EVENT</span>
                                                <span class="btn btn-link h3 big-link"><span>Torquem detraxit hosti et
                                                        quidem</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span><span>10:00am PST</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">ANNOUCEMENT</span>
                                                <span class="btn btn-link h3 big-link"><span>Sed ut calere ignem, nivem
                                                        esse
                                                        fugiendum itaque negat opus esse</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">ANNOUCEMENT</span>
                                                <span class="btn btn-link h3 big-link"><span>Ut placet, inquam tum
                                                        dicere
                                                        exorsus est eligendi optio cumque nihil est omnis</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>

                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">Announcement</span>
                                                <span class="btn btn-link h3 big-link"><span>Sunt autem quidam nostris
                                                        qui
                                                        ratione intellegi posse et negent satis esse</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">EVENT</span>
                                                <span class="btn btn-link h3 big-link"><span>Quid ex ea voluptate
                                                        ponit</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span><span>10:00am PST</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">ANNOUCEMENT</span>
                                                <span class="btn btn-link h3 big-link"><span>Quid ex eo ortum, tam
                                                        egregios
                                                        viros censes tantas res gessisse sine causa</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>

                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">EVENT</span>
                                                <span class="btn btn-link h3 big-link"><span>Sed ut et aut
                                                        petat</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span><span>10:00am PST</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">Announcement</span>
                                                <span class="btn btn-link h3 big-link"><span>In oculis quidem faciunt,
                                                        ut
                                                        aut odit aut contra sit, voluptatem accusantium doloremque morte
                                                        multavit si sine</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">ANNOUCEMENT</span>
                                                <span class="btn btn-link h3 big-link"><span>Sunt autem
                                                        quidam nostris qui in ea quid malum sensu</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>

                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">EVENT</span>
                                                <span class="btn btn-link h3 big-link"><span>Torquem detraxit hosti et
                                                        quidem</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span><span>10:00am PST</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">ANNOUCEMENT</span>
                                                <span class="btn btn-link h3 big-link"><span>Sed ut calere ignem, nivem
                                                        esse
                                                        fugiendum itaque negat opus esse</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="pagination">
                                        <a class="prev page-numbers" href="javascript:;">Last</a>
                                        <span aria-current="page" class="page-numbers current">1</span>
                                        <a class="page-numbers" href="javascript:;">2</a>
                                        <a class="page-numbers" href="javascript:;">3</a>
                                        <a class="next page-numbers" href="javascript:;">Next</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="announcements-pane-C" class="card tab-pane fade " role="tabpanel"
                            aria-labelledby="announcements-tab-C">
                            <div class="card-header" role="tab" id="announcements-heading-C">
                                <a class="h6" data-toggle="collapse" href="#announcements-collapse-C" aria-expanded=""
                                    aria-controls="announcements-collapse-C">Events</a>
                            </div>
                            <div id="announcements-collapse-C" class="collapse" data-parent="#content" role="tabpanel"
                                aria-labelledby="announcements-heading-C">
                                <div class="card-body pt-4 pt-lg-0">
                                    <ul class="mb-0 pb-0 list-unstyled d-flex flex-wrap">
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">Events</span>
                                                <span class="btn btn-link h3 big-link"><span>Sunt autem
                                                        quidam nostris qui in ea quid malum sensu</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>

                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">EVENT</span>
                                                <span class="btn btn-link h3 big-link"><span>Torquem detraxit hosti et
                                                        quidem</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span><span>10:00am PST</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">ANNOUCEMENT</span>
                                                <span class="btn btn-link h3 big-link"><span>Sed ut calere ignem, nivem
                                                        esse
                                                        fugiendum itaque negat opus esse</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">ANNOUCEMENT</span>
                                                <span class="btn btn-link h3 big-link"><span>Ut placet, inquam tum
                                                        dicere
                                                        exorsus est eligendi optio cumque nihil est omnis</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>

                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">Announcement</span>
                                                <span class="btn btn-link h3 big-link"><span>Sunt autem quidam nostris
                                                        qui
                                                        ratione intellegi posse et negent satis esse</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">EVENT</span>
                                                <span class="btn btn-link h3 big-link"><span>Quid ex ea voluptate
                                                        ponit</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span><span>10:00am PST</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">ANNOUCEMENT</span>
                                                <span class="btn btn-link h3 big-link"><span>Quid ex eo ortum, tam
                                                        egregios
                                                        viros censes tantas res gessisse sine causa</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>

                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">EVENT</span>
                                                <span class="btn btn-link h3 big-link"><span>Sed ut et aut
                                                        petat</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span><span>10:00am PST</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">Announcement</span>
                                                <span class="btn btn-link h3 big-link"><span>In oculis quidem faciunt,
                                                        ut
                                                        aut odit aut contra sit, voluptatem accusantium doloremque morte
                                                        multavit si sine</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">ANNOUCEMENT</span>
                                                <span class="btn btn-link h3 big-link"><span>Sunt autem
                                                        quidam nostris qui in ea quid malum sensu</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>

                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">EVENT</span>
                                                <span class="btn btn-link h3 big-link"><span>Torquem detraxit hosti et
                                                        quidem</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span><span>10:00am PST</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">ANNOUCEMENT</span>
                                                <span class="btn btn-link h3 big-link"><span>Sed ut calere ignem, nivem
                                                        esse
                                                        fugiendum itaque negat opus esse</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="pagination">
                                        <a class="prev page-numbers" href="javascript:;">Last</a>
                                        <span aria-current="page" class="page-numbers current">1</span>
                                        <a class="page-numbers" href="javascript:;">2</a>
                                        <a class="page-numbers" href="javascript:;">3</a>
                                        <a class="next page-numbers" href="javascript:;">Next</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div id="offers-pane-D" class="card tab-pane fade " role="tabpanel"
                            aria-labelledby="offers-tab-D">
                            <div class="card-header" role="tab" id="offers-heading-D">
                                <a class="h6" data-toggle="collapse" href="#offers-collapse-D" aria-expanded=""
                                    aria-controls="offers-collapse-C">Offers</a>
                            </div>
                            <div id="offers-collapse-D" class="collapse" data-parent="#content" role="tabpanel"
                                aria-labelledby="offers-heading-D">
                                <div class="card-body pt-4 pt-lg-0">
                                    <ul class="mb-0 pb-0 list-unstyled d-flex flex-wrap">
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">Offers</span>
                                                <span class="btn btn-link h3 big-link"><span>Sunt autem
                                                        quidam nostris qui in ea quid malum sensu</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>

                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">Offers</span>
                                                <span class="btn btn-link h3 big-link"><span>Torquem detraxit hosti et
                                                        quidem</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span><span>10:00am PST</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">Offers</span>
                                                <span class="btn btn-link h3 big-link"><span>Sed ut calere ignem, nivem
                                                        esse
                                                        fugiendum itaque negat opus esse</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">Offers</span>
                                                <span class="btn btn-link h3 big-link"><span>Ut placet, inquam tum
                                                        dicere
                                                        exorsus est eligendi optio cumque nihil est omnis</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>

                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">Offers</span>
                                                <span class="btn btn-link h3 big-link"><span>Sunt autem quidam nostris
                                                        qui
                                                        ratione intellegi posse et negent satis esse</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">Offers</span>
                                                <span class="btn btn-link h3 big-link"><span>Quid ex ea voluptate
                                                        ponit</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span><span>10:00am PST</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">Offers</span>
                                                <span class="btn btn-link h3 big-link"><span>Quid ex eo ortum, tam
                                                        egregios
                                                        viros censes tantas res gessisse sine causa</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>

                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">Offers</span>
                                                <span class="btn btn-link h3 big-link"><span>Sed ut et aut
                                                        petat</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span><span>10:00am PST</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">Offers</span>
                                                <span class="btn btn-link h3 big-link"><span>In oculis quidem faciunt,
                                                        ut
                                                        aut odit aut contra sit, voluptatem accusantium doloremque morte
                                                        multavit si sine</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">Offers</span>
                                                <span class="btn btn-link h3 big-link"><span>Sunt autem
                                                        quidam nostris qui in ea quid malum sensu</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>

                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">Offers</span>
                                                <span class="btn btn-link h3 big-link"><span>Torquem detraxit hosti et
                                                        quidem</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span><span>10:00am PST</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="event-item">
                                                <span class="h6 d-block">Offers</span>
                                                <span class="btn btn-link h3 big-link"><span>Sed ut calere ignem, nivem
                                                        esse
                                                        fugiendum itaque negat opus esse</span></span>
                                                <span class="text-14 d-block">
                                                    <span>February 28, 2021</span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="pagination">
                                        <a class="prev page-numbers" href="javascript:;">Last</a>
                                        <span aria-current="page" class="page-numbers current">1</span>
                                        <a class="page-numbers" href="javascript:;">2</a>
                                        <a class="page-numbers" href="javascript:;">3</a>
                                        <a class="next page-numbers" href="javascript:;">Next</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cmn-cta">
        <div class="container">
            <div class="row align-items-center wow fadeInUp">
                <div class="gred-bg col-md-11"></div>
                <div class="col-md-6 cta-content">
                    <div class="cta-content-wrap text-16">
                        <h6>GET IN TOUCH</h6>
                        <h2>See what GrowthStudio™ can do for you.</h2>
                        <p>Experience a smart legal team that keeps pace with your vision and execution needs.
                            GrowthStudio offers
                            practical problem solving for founders.</p><a href="javascript:;"
                            class="btn btn-primary">Request a
                            meeting</a>
                    </div>
                </div>
                <div class="col-md-5 ml-auto cta-img">
                    <div class="right-img">
                        <svg width="445" height="399" baseProfile="full" version="1.2">
                            <defs>
                                <mask id="svgmask04" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse"
                                    transform="scale(1)">
                                    <image width="100%" height="399" xlink:href="img/Mask_footer.png" />
                                </mask>
                            </defs>
                            <image id="the-mask04" mask="url(#svgmask04)" width="100%" height="399" y="0" x="0"
                                xlink:href="img/image-CTA.png" alt="" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {

        /**  Select2 Custom ini **/
        $("#stage").select2({
            placeholder: "Filter by Stage",
            width: '100%',
            minimumResultsForSearch: -1,
        });
        $("#topic").select2({
            placeholder: "Filter by Topic",
            width: '100%',
            minimumResultsForSearch: -1,
        });
        // Accordian
        $('.card').on('shown.bs.collapse', function(e) {
			var $panel = $(this).closest('.card');
			var $headerheight = $('header').outerHeight(true);
			$('html,body').animate({
				scrollTop: $panel.offset().top - $headerheight - 10
			}, 500);
		});
		$('.glossary-accord-wrap').on('shown.bs.collapse', function(e) {
			e.stopPropagation();
			var $panel = $(this).closest('.glossary-accord-wrap');
			var $headerheight = $('header').outerHeight(true);
			$('html,body').animate({
				scrollTop: $panel.offset().top - $headerheight - 10
			}, 500);
		});
    });
</script>
{% endblock %}