{% extends "layout.html" %}

{% block content %}

{{nav.active('privacy')}}

<main role="main">
    <section class="cmn-cms">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-7 wow fadeInUp">
                    <div class="cmn-blue-bdr">
                        <h1>Privacy</h1>
                    </div>
                    <div class="cms-content">
                        <p>Torquatos nostros? quos tu tam egregios viros censes tantas res gessisse sine causa, nollem
                            me tamen laudandis maioribus meis corrupisti nec me tamen laudandis maioribus meis
                            corrupisti nec voluptas expetenda, fugiendus dolor repellendus temporibus autem quidam e
                            nostris, qui. Quid ex ea voluptate et impetus quo quaerimus, non intellegamus, tu paulo ante
                            cum memoriter, tum etiam ac ratione intellegi posse et dolorem? sunt autem nusquam hoc
                            tenebo, si ob rem voluptas sit, amet, consectetur, adipisci velit, sed uti.</p>
                        <p>Sunt autem quidam e nostris, qui dolorem ipsum, quia consequuntur magni dolores suscipiantur
                            maiorum voluptatum deleniti atque corrupti, quos tu tam inportuno tamque crudeli; sin, ut
                            ita ruant itaque aiunt hanc quasi involuta aperiri, altera occulta quaedam et argumentandum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}