<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no" />
  <title>{{ project.title }}</title>
  <link rel="shortcut icon" href="img/favicon.ico" type="image/icon" />
  <!-- Include CSS files-->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/app.css">

</head>

<body>

  {% import "macros/jumbotron.html" as jumbotron %}
  {% import 'partials/header.html' as nav %}

  <div class="page-wrapper">
    {% block content %} {% endblock %}

    <!-- Footer section starts from here -->
    {% include "partials/footer.html" %}
  </div>

  <!-- Include Core files -->
  <script src="js/app.js"></script>
  {% block script %} {% endblock %}


</body>

</html>
